*{
	border: 0px;
	margin: 0px;
	box-sizing : border-box;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
}

.inblk{
	display: inline-block;
}
#inp{
	border : 1px solid #000000;
}
#incomp{
	background-color: blue;
}
#comp{
	text-decoration: line-through;
	background-color: red;
}

#folder{
	width: 19%;
	vertical-align: top;
}

#list{
	width: 80%;
}

